<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".arb" mimeType="application/json" />
            <mimeMap fileExtension=".frag" mimeType="text/plain" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
            <mimeMap fileExtension=".env" mimeType="text/plain" />
            <mimeMap fileExtension=".symbols" mimeType="text/plain" />
            <mimeMap fileExtension=".last_build_id" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>