<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<!--<httpErrors errorMode="Detailed" /> <!-{REPLACE HYPHEN HERE} to see the detailed error-->
		<!--<asp scriptErrorSentToBrowser="true" /> <!-{REPLACE HYPHEN HERE} to see the detailed error in the client's POV-->
		<rewrite>
			<rules>
				<rule name="Flutter Deeplinking" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		
        <staticContent>
            <mimeMap fileExtension=".arb" mimeType="application/json" />
            <mimeMap fileExtension=".frag" mimeType="text/plain" />
            <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
            <mimeMap fileExtension=".env" mimeType="text/plain" />
            <mimeMap fileExtension=".symbols" mimeType="text/plain" />
            <mimeMap fileExtension=".last_build_id" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>